{% extends "base.html" %}

{% load static %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>
<ul id='chat-items'>
{% for chat in object.chatmessage_set.all %}

<li>{{ chat.message }} via {{ chat.user }}</li>

{% endfor %}
</ul>

<form id='form' method='POST'> {% csrf_token %}
    <input type="hidden" id="myUsername" value="{{ user.username }}">
    {{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>


<div class="messenger">

    <div class="thread-list">

        <button class="btn btn-secondary create-thread" type="button"> + </button>

        <ul class="thread-list">
            <li>Thread 1 </li>
            <li class="active">Thread 2 </li>
            <li>Thread 3 </li>
            <li>Thread 4 </li>
            <li>Thread 5 </li>
            <li>Thread 6 </li>
        </ul>

    </div>

    <div class="current-thread">
        <div class="message">
            <div class="time">12:00</div>
            <div class="user">Dorj:</div>
            <div class="message">Hello world</div>
        </div>
        <div class="message">
            <div class="time">12:05</div>
            <div class="user">Dorj:</div>
            <div class="message">Hi</div>
        </div>
        <div class="message">
            <div class="time">12:11</div>
            <div class="user">Bayar:</div>
            <div class="message">Hello</div>
        </div>
        <div class="message">
            <div class="time">12:30</div>
            <div class="user">Bayar:</div>
            <div class="message">So sa</div>
        </div>
    </div>

    <div class="thread-description">

        <div class="thread-name">
            <h2> Thread name </h2>
        </div>

        <div class="thread-is-private">Is private?</div>

        <div class="thread-password">
            Change thread password:
            <input type="text"/>
        </div>

        User list:
        <ul class="user-list">
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li>User 4</li>
        </ul>
    </div>

</div>


{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
// websocket scripts
var loc = window.location
var formData = $("#form")
var msgInput = $('#id_message')
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()

var wsStart = 'ws://'
if (loc.protocol == 'https'){
    wsStart = 'wss://'
}

var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e){
    var chatDataMsg = JSON.parse(e.data)
    chatHolder.append("<li>" + chatDataMsg.message + " via "+ chatDataMsg.username +"</li>")
}
socket.onopen = function(e){
    formData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()
        var finalData = {
            'message': msgText
        }

        socket.send(JSON.stringify(finalData))
        msgInput.val('')
        formData[0].reset()
    })
}
socket.onerror = function(e){
    console.log("error", e)
}
socket.onclose = function(e){
    console.log("close", e)
}

</script>
<script src="{% static "js/messenger.js" %}"></script>
{% endblock %}
