{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="messenger">

    <div class="thread-list">

        <button class="btn btn-secondary create-thread" type="button"> + </button>

        <ul class="thread-list">
            {% for thread in threadListByUser %}
                <li data-thread-id="{{ thread.id }}" data-thread-history="{% url "thread-messages" thread.id %}"> {{ thread.id }} </li>
            {% endfor %}
        </ul>

    </div>

    <div class="current-thread">
        <div id="chat-messages">
        </div>
        <form id="form" method='POST'>
            <input type="text" id="chatmessage"/>
            <input type='submit' id="chatsend" class='btn btn-primary' value="send"/>
        </form>
    </div>

    <div class="thread-description">

        <div class="thread-name">
            <h2> Thread name </h2>
        </div>

        <div class="thread-is-private">Is private?</div>

        <div class="thread-password">
            Change thread password:
            <input type="text"/>
        </div>

        User list:
        <ul class="user-list">
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li>User 4</li>
        </ul>
    </div>

</div>
{% endblock %}

{% block script %}
<script src="{% static "js/reconnecting-websocket.js" %}"></script>
<script src="{% static "js/user_consumer.js" %}"></script>
{% endblock %}
