{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="messenger">

    <div class="thread-list">

        <input type="text" class="form-control" id="user-search" placeholder="Search users">

        <button class="btn btn-secondary create-thread" type="button"> + </button>

        <h5 class="user-list-title hidden">Users</h5>
        <ul class="user-list hidden">
            {% for user_detail in user_details %}
            <li class="hidden" data-id="{{ user_detail.pk }}" data-search="{{ user_detail.username }}"> {{ user_detail.username }} </li>
            {% endfor %}
        </ul>

        <h5 class="thread-list-title">Threads</h5>
        <ul class="thread-list">
            {% for thread in threadListByUser %}
                <li data-thread-id="{{ thread.id }}" data-thread-history="{% url "thread-messages" thread.id %}">
                    {% if thread.users_count == 2 %}
                    <div class="image">
                        {% if thread.users.all.first.profile.image %}
                        <img src="{{ MEDIA_URL }}{{ thread.users.all.first.profile.image }}"/>
                        {% else %}
                        {% comment %}TODO{% endcomment %}
                        {% endif %}
                    </div>
                    {% else %}
                    {% comment %}TODO{% endcomment %}
                    {% endif %}
                     {{ thread.id }}
                     <div class="last-message"></div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="current-thread">
        <div id="chat-messages">
        </div>
        <form id="form" method='POST'>
            <input type="text" id="chatmessage" class="form-control"/>
            <input type='submit' id="chatsend" class='btn btn-primary' value="send"/>
        </form>
    </div>

    <div class="thread-description">

        <div class="thread-name">
            <h2> Thread name </h2>
        </div>

        <div class="thread-is-private">Is private?</div>

        <div class="thread-password">
            Change thread password:
            <input type="text"/>
        </div>

        User list:
        <ul class="user-list">
            <li>User 1</li>
            <li>User 2</li>
            <li>User 3</li>
            <li>User 4</li>
        </ul>
    </div>

</div>
{% endblock %}

{% block script %}
<script src="{% static "js/reconnecting-websocket.js" %}"></script>
<script src="{% static "js/threadlist.js" %}"></script>
{% endblock %}
