.messenger {

    display: table;
    width: 100%;
    border-collapse: collapse;

}

.messenger > * {
    border: 1px solid;
    padding: 1em .4em;
}

.messenger > .thread-list {

    display: table-cell;
    width: 200px;
}

.messenger > .thread-list > .user-list-title {
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    color: #aeaeae;
}
.messenger > .thread-list > ul.user-list {
    list-style: none;
    padding: 0;
}
.messenger > .thread-list > ul.user-list li {
    border-bottom: 1px solid #eee;
    padding: .4em;
    cursor: pointer;
}
.messenger > .thread-list > ul.user-list li > .image {
    display: inline-block;
    width: 36px;
    margin-right: 4px;
    border-radius: 18px;
    overflow: hidden;
    vertical-align: top;
}
.messenger > .thread-list > ul.user-list li > .image > img {
    width: 36px;
}

.messenger > .thread-list > .thread-list-title {
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    color: #aeaeae;
}

.messenger > .thread-list > ul.thread-list {
    list-style: none;
    padding: 0;
}
.messenger > .thread-list > ul.thread-list li {
    border-bottom: 1px solid #eee;
    padding: .4em;
    cursor: pointer;
}
.messenger > .thread-list > ul.thread-list li.active {
    font-weight: 700;
    background-color: #eee;
    border-radius: 3px;
}
.messenger > .thread-list > ul.thread-list li > .image {
    display: inline-block;
    width: 36px;
    margin-right: 4px;
    border-radius: 18px;
    overflow: hidden;
    vertical-align: top;
}
.messenger > .thread-list > ul.thread-list li > .image > img {
    width: 36px;
}
.messenger > .thread-list > ul.thread-list li .last-message {
    font-weight: 700;
    font-size: .8em;
}

.messenger > .current-thread {
    display: table-cell;
}
.messenger > .current-thread > #chat-messages {
    overflow-y: auto;
    max-height: 600px;
}
.messenger > .current-thread > #chat-messages > .message {
    background-color: #eee;
    margin-bottom: .4em;
    border-radius: 3px;
    padding: .2em;
}
.messenger > .current-thread > #chat-messages > .message > * {
    display: inline-block;
}
.messenger > .current-thread > #chat-messages > .message > .time {
    font-size: .8em;
    width: 40px;
}
.messenger > .current-thread > #chat-messages > .message > .user {
    font-size: .8em;
    font-weight: 700;
}

.messenger > .thread-description {

    display: table-cell;
    width: 200px;

}

.hidden {
    display: none;
}
