<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chat x Channels Rapidly</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{% static "image/favicon.png" %}"/>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Chat & Channels Co.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% with request.resolver_match.url_name as route %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if route == "threadlist" %}active{% endif %}">
                    <a class="nav-link" href="/"> Нүүр хуудас </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item {% if route == "user-profile" %}active{% endif %}">
                    <a class="nav-link" href="{% url "user-profile" %}"> {{request.user.username}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "secure-logout" %}"> Гарах </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "secure-login" %}"> Нэвтрэх </a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
        </div>
    </nav>

<div class='container'>
    <div class='row border-bottom my-3 py-3'>
        <div class='col'>
            <h1 class='p-0 m-0'>Chat x Channels Rapidly</h1>
        </div>
    </div>
{% block content %}
{% endblock %}
</div>


{% include 'js.html' %}
{% block script %}
{% endblock %}

</body>
</html>
